    <footer>
        <section class="fbutton">
        <a href="">
            SOBRE A <img src="images/logo-mini.svg" alt="Mini Logo DO$">
        </a>
        <a href="">
            FALE CONOSCO
        </a>
        <a href="">
            TRABALHE CONOSCO
        </a>
        <a href="">
            FAQ
        </a>
        </section>
        <section class="mlogo">
        <a href=""><img src="images/logo-mini.svg" alt="Mino Logo DO$"></a>
        </section>
    </footer>

</body>

</html>