<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<body>

    <header>
    <section class="header-principal">
      <div class="logo">
        <a href=""><img src="images/logo.png" alt="Logo DO$"></a>
      </div>
      <div class="busca">
        <p>Pesquise sua marca/produto:</p>
        <input type="text">
        <button><img src="images/search-icon.png" alt="search"></button>
      </div>
      <div class="hbutton">
        <div>
          <a href="">
          <img src='images/login.svg' alt="login">
          <p>LOG IN</p>
          </a>
        </div>
        <div>
          <a href="">
          <img src="images/lojista.svg" alt="login lojista">
          <p>VENDA CONOSCO</p>
          </a>
        </div>
        <div>
          <a href="">
          <img src="images/carrinho.svg" alt="carrinho">
          <p>SEU CARRINHO</p>
          </a>
        </div>
      </div>
    </section>

    </header>
    
    <section class="header-menu">
        <a href="">
          ROUPAS
        </a>
        <a href="">
          LIVROS
        </a>
        <a href="">
          CALÇADOS
        </a>
        <a href="">
          ACESSÓRIOS
        </a>
        <a href="">
          PARA A CASA
        </a>
        <a href="">
          ESPORTE
        </a>
      </section>