@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orbitron:wght@500&family=Roboto+Mono:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
    color: whitesmoke;
}

.capa {
    width: 100%;
    opacity: 50%;
    max-height: 200px;
    object-fit: cover;
    object-position: top;
    transition: all 1s;
}

.capa:hover {
    height: fit-content;
    max-height: fit-content;
    opacity: 100%;
}

em {
    text-align: right;
    font-style: italic;
    font-size: 15px;
    display: block;
    margin-right: 10px;
    color: #003B00;
}

em:hover {
    color: #008F11;
}

strong {
    font-weight: bold;
}

main {
    margin: 5% auto;
    width: 90%;
}

article {
    padding: 15px 10%;
    margin-bottom: 20px;
    transition: 1s;
}

article:hover {
    background-color: #545454;
    border-radius: 10px;
}

article img, article iframe {
    display: block;
    max-width: 100%;
    margin: 10px auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 20px;
    text-emphasis: 20px;
    color: #00FF41;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    color: #00FF41;
}

a:visited {
    color: #008F11;
}

a.repo {
    display: block;
    margin-bottom: 10px;
}

a.repo::before {
    content: '➜ ';
    text-decoration: none;
    color: #008F11;
}

p {
    text-align: justify;
    margin-bottom: 10px;
}

footer {
    width: 35vw;
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

ul {
    margin-left: 20px;
    list-style: disc;
}

li {
    margin-bottom: 10px;
}

.icone {
    width: 50px;
    margin: 0 10px;
    border: solid white 2px;
    border-radius: 25px;
    transition: 1s;
}

.icone:hover {
    opacity: 50%;
}

iframe {
    width: 100%;
    height: 500px;
}