<%- include('./partials/header') %>

    <main>
      <section class="banner">
        <img src="images/banner.png" alt="banner">
      </section>

      <section class="ofertas">
      <a href=""><div class="container">
        <img src="images/calca-bege.png" alt="Calça Bege">
        <h1>Calça Bege</h1>
        <div class="precos">
          <ul>
            <li class="preco-antes">R$ 111,00</li>
            <li class="preco-agora">R$ 100,00</li>
            <li class="off">10% OFF</li>
          </ul>
        </div>
      </div></a>
      <a href=""><div class="container">
        <img src="images/calca-bege.png" alt="Calça Bege">
        <h1>Calça Bege</h1>
        <div class="precos">
          <ul>
            <li class="preco-antes">R$ 111,00</li>
            <li class="preco-agora">R$ 100,00</li>
            <li class="off">10% OFF</li>
          </ul>
        </div>
      </div></a>
      <a href=""><div class="container">
        <img src="images/calca-bege.png" alt="Calça Bege">
        <h1>Calça Bege</h1>
        <div class="precos">
          <ul>
            <li class="preco-antes">R$ 111,00</li>
            <li class="preco-agora">R$ 100,00</li>
            <li class="off">10% OFF</li>
          </ul>
        </div>
      </div></a>
      <a href=""><div class="container">
        <img src="images/calca-bege.png" alt="Calça Bege">
        <h1>Calça Bege</h1>
        <div class="precos">
          <ul>
            <li class="preco-antes">R$ 111,00</li>
            <li class="preco-agora">R$ 100,00</li>
            <li class="off">10% OFF</li>
          </ul>
        </div>
      </div></a>
      <a href=""><div class="container">
        <img src="images/calca-bege.png" alt="Calça Bege">
        <h1>Calça Bege</h1>
        <div class="precos">
          <ul>
            <li class="preco-antes">R$ 111,00</li>
            <li class="preco-agora">R$ 100,00</li>
            <li class="off">10% OFF</li>
          </ul>
        </div>
      </div></a>
      <a href=""><div class="container">
        <img src="images/calca-bege.png" alt="Calça Bege">
        <h1>Calça Bege</h1>
        <div class="precos">
          <ul>
            <li class="preco-antes">R$ 111,00</li>
            <li class="preco-agora">R$ 100,00</li>
            <li class="off">10% OFF</li>
          </ul>
        </div>
      </div></a>
      <a href=""><div class="container">
        <img src="images/calca-bege.png" alt="Calça Bege">
        <h1>Calça Bege</h1>
        <div class="precos">
          <ul>
            <li class="preco-antes">R$ 111,00</li>
            <li class="preco-agora">R$ 100,00</li>
            <li class="off">10% OFF</li>
          </ul>
        </div>
      </div></a>
      <a href=""><div class="container">
        <img src="images/calca-bege.png" alt="Calça Bege">
        <h1>Calça Bege</h1>
        <div class="precos">
          <ul>
            <li class="preco-antes">R$ 111,00</li>
            <li class="preco-agora">R$ 100,00</li>
            <li class="off">10% OFF</li>
          </ul>
        </div>
      </div></a>
      <a href=""><div class="container">
        <img src="images/calca-bege.png" alt="Calça Bege">
        <h1>Calça Bege</h1>
        <div class="precos">
          <ul>
            <li class="preco-antes">R$ 111,00</li>
            <li class="preco-agora">R$ 100,00</li>
            <li class="off">10% OFF</li>
          </ul>
        </div>
      </div></a>
      <a href=""><div class="container">
        <img src="images/calca-bege.png" alt="Calça Bege">
        <h1>Calça Bege</h1>
        <div class="precos">
          <ul>
            <li class="preco-antes">R$ 111,00</li>
            <li class="preco-agora">R$ 100,00</li>
            <li class="off">10% OFF</li>
          </ul>
        </div>
      </div></a>
      
      </section>
    </main>

<%- include('./partials/footer') %>
