@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

body {
  margin: 0;
  background-color: #DCDDE1;
}

header, .header-menu {
  background-color: #FFFFFF;
  width: 100%;
  padding: 0 3%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
  height: 15vh;
}

header section {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

header section.header-principal .logo {
  width: 20%;
}

header section.header-principal .logo img {
  max-width: 100%;
  height: 100px;
}

header .header-principal .busca {
  width: 50%;
  display: flex;
  align-items: center;
}

header .header-principal .busca p {
  width: 20%;
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
  line-height: 14px;
}

header .header-principal .busca input {
  width: 70%;
  height: 10%;
  font-size: 18px;
  line-height: 23px;
}

header .header-principal .busca a {
  background: none;
  border: none;
  position: relative;
  left: -35px;
}

header .header-principal .hbutton {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

header .header-principal .hbutton img {
  height: 50%;
}

header .header-principal .hbutton div {
  width: 25%;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  padding: 10px 3%;
  height: 5vh;
  align-items: center;
}

header a, footer a, .header-menu a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}

footer {
  background-color: #FFFFFF;
  width: 100%;
  padding: 0 3%;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 5vh;
  min-height: 50px;
  align-items: center;
}

footer .fbutton {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .fbutton a {
  display: flex;
  align-items: center;
}

footer .fbutton a img {
  height: 16px;
  position: relative;
  left: 4px;
}

footer .mlogo {
  width: 40%;
  display: flex;
  justify-content: end;
}

body section.banner {
  margin: 20px 3% 0 3%;
  width: 94%;
  border-radius: 10px;
  background-color: #E84118;
  display: flex;
  justify-content: center;
}

body section.banner img {
  width: 100%;
}

body section.ofertas {
  margin: 20px 3% 60px 3%;
  width: 94%;
}

div.ofertasrow {
  display: flex;
  justify-content: space-between;
}

div.container {
  margin: 1% 1% 10px 1%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 280px;
  height: 300px;
  text-align: center;
}

body main a {
  color: unset;
  text-decoration: unset;
  max-width: 25%;
}

main div.container img {
  width: auto;
  margin-top: 10px;
}

h1 {
  margin: 10px 0;
}

main div.container div.precos ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type:none;
}

.preco-antes {
  font-weight: 300;
  font-size: 16px;
  text-decoration-line: line-through;
  width: 30%;
}

.preco-agora {
  font-weight: bolder;
  font-size: 18px;
  width: 30%;
}

.off {
  font-weight: bolder;
  font-size: 18px;
  width: 30%;
  color: #4CD137;
}

main section.containergeral {
  margin: 1% 3% 60px 3%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

main section.containergeral h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  line-height: 46px;
}

main section.containergeral strong, 
main section.containergeral p {
  margin: 0 3% 10px 3%;
  font-size: 18px;
  line-height: 23px;
  text-align: justify;
}

main section.containergeral div.missao {
  display: flex;
  margin: 0 3% 10px 3%;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
}

main section.containergeral div.missao h2 {
  width: 20%;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

main section.containergeral div.missao p,
main section.containergeral div.missao ul {
  width: 100%;
}

main section.containergeral h1 img {
  position: relative;
  top: 5px;
}

main section.containergeral h2 img {
  position: relative;
  top: 3px;
  height: 20px;
}

main section.containergeral div.buttonscontato {
  margin: 0 3% 10px 3%;
}

main section.containergeral div.buttonscontato div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main section.containergeral div.buttonscontato button {
  background-color: inherit;
  border: 2px solid #F3F3F3;
  width: 20%;
  height: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}

main section.containergeral div.buttonscontato button p {
  font-size: 16px;
  width: 50%;
  margin: 0 0 0 auto;
  text-align: left;
}

main section.containergeral p.pcontato {
  text-align: center;
}

main section.containergeral form.contato {
  margin: 0 3% 10px 3%;
  display: flex;
  align-items: center;
}

main section.containergeral form.contato div {
  background: #F7F7F7;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7em;
}

main section.containergeral form.contato div input {
  margin: 2%;
  color: #c1c1c1;
  border: none;
}

main section.containergeral form.contato textarea {
  background-color: #FFFFFF;
  margin: 2%;
  height: inherit;
  color: #c1c1c1;
  border: none;
}

main section.containergeral form.contato input[type="submit"] {
  margin: auto;
  background: #f7f7f7;
  border: none;
  width: 15%;
  cursor: pointer;
  height: 40px;
  font-size: 18px;
}

main.resultadobusca {
  display: flex;
}

aside {
  background-color: #FFFFFF;
  width: 20%;
}

aside div {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

aside h2 {
  text-align: center;
  font-size: inherit;
}

aside form div {
  display: flex;
  flex-direction: column;
}

aside form div ul {
  list-style-type: none;
}

main.resultadobusca section.containergeral h1 {
  font-size: 1.5em;
  margin: 0 3%;
  text-align: unset;
}

main.resultadobusca section.containergeral {
  width: -webkit-fill-available;
}

main.resultadobusca section.containergeral div.ofertasrow {
  justify-content: space-evenly;
}

main.resultadobusca nav.navpages {
  margin: 10px 3%;
  display: flex;
  justify-content: space-evenly;
}

main.resultadobusca nav.navpages button {
  border: none;
  background: none;
  font-weight: 600;
  cursor: pointer;
}

main.paginaproduto div.produto {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
}

main.paginaproduto div.fotosproduto {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  max-width: 600px;
  height: 35em;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

main.paginaproduto div.fotosproduto div.miniimg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main.paginaproduto div.fotosproduto div.miniimg img {
  max-height: 150px;
}

main.paginaproduto div.fotosproduto div.miniimg img:first-child{
  border-top-left-radius: 10px;
}

main.paginaproduto div.fotosproduto div.miniimg img:last-child {
  border-bottom-left-radius: 10px;
}

main.paginaproduto div.fotosproduto div.focoimg {
  height: 100%;
  max-width: 70%;
  display: flex;
  justify-content: flex-end;
}

main.paginaproduto div.fotosproduto div.focoimg img {
  height: 100%;
  position: relative;
  right: -3px;
  border-radius: 0 10px 10px 0;
}

main.paginaproduto div.descgeral {
  width: 50vw;
  height: 100%;
  margin: 0 0 20px 0;
}

main.paginaproduto div.descgeral h2 {
  text-align: center;
  width: 100%;
  font-size: xx-large;
  margin: 0;
}

main.paginaproduto div.descgeral div.oferta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

main.paginaproduto div.descgeral div.oferta p.off {
  font-size: xx-large;
}

main.paginaproduto div.descgeral div.subcontainer {
  display: flex;
}

main.paginaproduto div.descgeral div.subcontainer div.desc {
  width: 50%;
}

main.paginaproduto div.descgeral div.subcontainer div.comprar,
main.paginaproduto div.descgeral div.subcontainer div.comprar form  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: -webkit-fill-available;
}

main.paginaproduto div.descgeral div.subcontainer div.comprar form,
main.paginaproduto div.descgeral div.subcontainer div.comprar form input {
  width: 100%;
  margin-bottom: 10px;
}

main.paginaproduto div.descgeral div.subcontainer div.comprar form button {
  align-self: flex-end;
  width: 40%;
  border-radius: 20px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-style: none;
}

main.paginaproduto div.descgeral div.subcontainer div.comprar p {
  align-self: flex-end;
}

main.paginaproduto div.descgeral div.subcontainer div.comprar p.total {
  font-size: xx-large;
}

main.paginaproduto div.descgeral div.subcontainer div.compra {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

main.paginaproduto div.descgeral div.subcontainer div.compra button {
  border-radius: 20px;
  border-style: none;
  background-color: #E84118;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 18px;
  width: 230px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
}

main.login section.containergeral p {
  text-align: center;
}

main.login section.containergeral form {
  width: 100%;
  text-align: center;
}

main.login section.containergeral form div.formrow {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  align-items: center;
}

main.login section.containergeral form div.formrow label {
  margin-right: 10px;
}

main.login section.containergeral form div.formrow input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  max-width: 50%;
  font-size: 20px;
  border: 1px solid #C8D6E5;
}

main.login section.containergeral form button {
  font-size: 36px;
  width: 20%;
  border-style: none;
  border-radius: 20px;
  border-width: 1px;
  color: #fff;
  background-color: #E84118;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

main.login section.containergeral p:last-child {
  width: 50%;
  position: relative;
  left: 31%;
  margin: 20px 0;
}

main.login section.containergeral p:last-child a{
  color: #40739E;
  font-weight: bold;
  text-decoration: underline;
}