.carrinho-sacola {
    margin: 0 25px 80px 25px;
}

.sacola {
    border-bottom: 4px solid #e84218
}

.container-carrinho {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.container-sacola {
    height: 260px;
    width: 68%;
}

table {
    width: 100%;
    background-color: white;
}

td {
    padding: 10px;
}

.colunas td {
    font-weight: bold;
}

.linhas td {
    border-bottom: 1.5px solid #d3cece;
    vertical-align: middle;
}

.produto {
    display: flex;
    align-items: center;
    height: inherit;
}

.container-sacola img {
    height: 72px;
    width: 60px;
    object-fit: cover;
    margin: 10px;
}

.tamanho,
.cor {
    display: flex;
}

.dados {
    color: #837F7F;
    margin: 0 10px;
}

.quantidade {
    display: flex;
    align-items: center;
}

.quantidade button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 20px;
    font-weight: 800;
    border-radius: 100%;
    border-style: none;
    transition: background-color 0.1s;
}

.quantidade button:hover {
    background-color: black
}

.acoes-produto {
    width: 70px;
}

.acoes-produto img {
    margin: 0 5px;
    width: 20px;
    height: 20px;
}

.resumo {
    font-size: 18px;
    width: 30%;
    padding: 3%;
    background-color: #F1F1F1
}

.resumo div p.resumo {
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: 800;
}

.resumo .forma-de-recebimento {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 10px;
    text-align: center;
}

.resumo .forma-de-recebimento a {
    width: 50%;
    transition: background-color 0.1s;
}

.resumo .forma-de-recebimento a:hover {
    background-color: #e2e2e2;
    width: 50%;
}


.resumo .forma-de-recebimento .entrega {
    border-bottom: 4px solid #e84218
}

.resumo .cep {
    display: flex;
    justify-content: space-between;
}

.resumo input {
    height: 41px;
    width: 230px;
    padding-left: 16px;
    font-size: 16px;
}

.resumo .ok-cep {
    font-size: 14px;
    color: white;
    background-color: black;
    height: 42px;
    width: 58px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s;
}

.resumo .ok-cep:hover {
    background-color: rgb(27, 27, 27);
}

.resumo .nao-sei-o-cep {
    text-decoration: underline;
    font-size: 13px;
    font-weight: 800;
    padding-left: 10px;
}

.resumo .total div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.resumo .total div p {
    margin: 10px 0;
}

.resumo .total .total {
    margin-top: 20px;
    border-top: 1px solid #D6D6D6;
    font-weight: 800;
}

.resumo .total .total p {
    margin: 0;
}

.resumo .finalizar {
    height: 53px;
    width: 100%;
    margin: 20px 0;
    background-color: #e84218;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.1s;
}

.resumo .finalizar:hover {
    background-color: #db5534;
}

.continuar-comprando {
    font-weight: bold;
    display: block;
    height: 30px;
}

.resumo .continuar-comprando:hover {
    color: rgb(73, 73, 73);
}

.table-mobile {
    display: none;
}

td.acoes-produto div {
    display: flex;
}

td.acoes-produto div button {
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
}

.menu-carrinho {
    height: 45px;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 280px;
    background-color: #C4C4C4;
    font-weight: bold;
}

.menu-carrinho a {
    margin: 0 10px;
}

/* Fazendo as alterações para mobile: */
@media screen and (max-width: 720px) {

    .carrinho-sacola .processo-da-compra div {
        padding: 0;
    }

    .identificacao,
    .entrega,
    .pagamento {
        display: none;
    }

    .container-carrinho {
        display: block;
    }

    .resumo,
    .container-sacola {
        width: unset;
        height: unset;
        margin-bottom: 10px;
    }

    .container-sacola table {
        display: none;
    }

    .table-mobile {
        display: flex;
        background-color: white;
    }

    .quantidade {
        display: block;
        text-align: center;
        margin: auto;
    }

    .dados-produto {
        margin: auto;
    }
}