.carrinho-pagamento {
    margin: 0 25px 80px 25px;
}

h3 {
    font-weight: bold;
    font-size: 18px;
}

.carrinho-pagamento .processo-da-compra .pagamento {
    border-bottom: 4px solid #e84218
}

.carrinho-pagamento .container-pagamento {
    display: flex;
    justify-content: space-between;
}

.carrinho-pagamento .container-pagamento .destinatario-entrega img {
    width: 20px;
}

.carrinho-pagamento .container-pagamento .dest-entr-pag {
    width: 69%;
}

.carrinho-pagamento .destinatario-entrega {
    display: flex;
    justify-content: space-between;
}

.carrinho-pagamento .destinatario-entrega section {
    display: flex;
    flex-direction: column;
    padding: 26px;
    background-color: white;
    height: 156px;
}

.carrinho-pagamento .destinatario-entrega section h3 {
    margin: 0 0 10px 0;
}

.carrinho-pagamento .destinatario-entrega section p {
    margin: 0;
}

.carrinho-pagamento .destinatario-entrega section p {
    font-size: 14px;
}

.container-pagamento .destinatario-entrega .titulo-div div {
    display: flex;
    justify-content: space-between;
}

.container-pagamento .destinatario-entrega .dados-destinatario {
    width: 43%;
}

.container-pagamento .destinatario-entrega .dados-entrega {
    width: 55%;
}

.container-pagamento .pagamento {
    padding: 26px;
    height: fit-content;
    margin-top: 16px;
    background-color: white;
}

.container-pagamento .pagamento form {
    display: flex;
}

.container-pagamento .pagamento p {
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 20px 0;
}

.container-pagamento .forma-pagamento {
    padding-right: 26px;
    margin-right: 26px;
    height: 425px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}

.container-pagamento .forma-pagamento input {
    display: none;
}

input:checked~label {
    border: none;
    color: white;
    background-color: #e84218;
}

.container-pagamento .forma-pagamento label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 39px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #494949;
    cursor: pointer;
}

.container-pagamento .dados-pagamento {
    width: 298px;
}

.container-pagamento .img-cartoes {
    height: 45px;
}

.container-pagamento .dados-pagamento div {
    display: flex;
    flex-direction: column;
}

.container-pagamento .dados-pagamento div input,
.container-pagamento .dados-pagamento div select {
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    height: 38px;
}

.container-pagamento .dados-pagamento div select,
.container-pagamento .dados-pagamento .validade-cartao div {
    display: flex;
    flex-direction: row;
}

.container-pagamento .validade-cartao select {
    font-size: 14px;
    width: 106px;
}

.container-pagamento .validade-cartao p {
    display: flex;
    font-size: 24px;
    font-weight: normal;
    margin: 0 10px;
}

.container-pagamento .cod-seguranca input {
    width: 65px;
}

.menu-carrinho {
    height: 45px;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 280px;
    background-color: #C4C4C4;
    font-weight: bold;
}

.menu-carrinho a {
    margin: 0 10px;
}

.carrinho-pagamento section.resumo {
    display: flex;
    flex-direction: column;
    width: 29%;
    background-color: #f1f1f1;
    padding: 30px;
}

.carrinho-pagamento section.resumo h3 {
    margin: 0
}

.carrinho-pagamento section.resumo table {
    margin: 20px 0 60px 0;
    width: 100%;
}

.carrinho-pagamento section.resumo table td.img {
    height: 118px;
    width: 75px;
}

.carrinho-pagamento section.resumo table img {
    width: 100%;
}

.carrinho-pagamento section.resumo table h3 {
    margin: 0;
    font-size: 13px;
}

.carrinho-pagamento section.resumo table h4 {
    margin: 0;
    font-size: 12px;
}

.carrinho-pagamento section.resumo table h4.dados {
    margin-left: 5px;
    font-size: 12px;
    color: #837F7F;
}

.carrinho-pagamento section.resumo table td {
    border-bottom: 1px solid rgb(192, 192, 192);
    vertical-align: middle;
}

.carrinho-pagamento section.resumo table div {
    display: flex;
}

.carrinho-pagamento section.resumo .total div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 15px 0;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.carrinho-pagamento section.resumo .total div p {
    margin-bottom: 0px;
}

.finalizar-compra {
    border: 1px solid #e84218;
    margin-top: 20px;
    height: 39px;
    width: 100%;
    background-color: white;
    font-size: 16px;
    font-weight: 800;
    color: #e84218;
    cursor: pointer;
    transition: 0.1s;
}

.finalizar-compra:disabled {
    opacity: 50%;
}

.carrinho-pagamento section.resumo .finalizar-compra:hover {
    color: white;
    background-color: #e84218;
}


/* Fazendo as alterações para mobile: */
@media screen and (max-width: 720px) {
    .carrinho-entrega .processo-da-compra div {
        padding: 0;
    }

    .carrinho-entrega .processo-da-compra div .identificacao,
    .carrinho-entrega .processo-da-compra div .sacola,
    .carrinho-entrega .processo-da-compra div .pagamento {
        display: none;
    }

    .carrinho-entrega .container-entrega {
        display: block !important;
    }

    .carrinho-entrega .resumo,
    .carrinho-entrega .container-carrinho .container-sacola {
        width: unset;
        height: unset;
        margin-bottom: 10px;
    }

    .carrinho-entrega .container-carrinho .container-sacola table {
        display: none;
    }

    .carrinho-entrega .container-carrinho .container-sacola .table-mobile {
        display: flex;
        background-color: white;
    }

    .carrinho-entrega .container-carrinho .container-sacola img {
        width: 130px;
        height: unset;
    }

    .carrinho-entrega .container-carrinho .container-sacola .quantidade {
        display: block;
        text-align: center;
        margin: auto;
    }

    .carrinho-entrega .container-carrinho .container-sacola .dados-produto {
        margin: auto;
    }

    .carrinho-entrega .container-entrega section {
        width: 100%;
    }

    .carrinho-entrega .entrega {
        margin: 10px 0;
    }

    .carrinho-pagamento .processo-da-compra div {
        padding: 0;
    }

    .carrinho-pagamento .processo-da-compra div .identificacao,
    .carrinho-pagamento .processo-da-compra div .entrega,
    .carrinho-pagamento .processo-da-compra div .sacola {
        display: none;
    }

    .carrinho-pagamento .container-pagamento {
        display: block;
    }

    .carrinho-pagamento .container-pagamento .dest-entr-pag,
    .container-pagamento .destinatario-entrega .dados-destinatario,
    .container-pagamento .destinatario-entrega .dados-entrega {
        width: 100%;
        margin-bottom: 5px;
    }

    .carrinho-pagamento .destinatario-entrega,
    .container-pagamento .pagamento form {
        display: block;
        width: 100%;
    }

    .container-pagamento .pagamento .forma-pagamento button {
        margin: 10px;
    }

    .container-pagamento .pagamento .forma-pagamento {
        text-align: center;
        border: none;
        height: auto;
    }

    .carrinho-pagamento section.resumo {
        width: 100%;
        padding: 5px;
    }

    .container-pagamento .pagamento {
        height: auto;
    }

    .container-pagamento .dados-pagamento {
        width: 100%;
    }
}