footer {
  background-color: #FFFFFF;
  width: 100vw;
  padding: 0 3%;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 5vh;
  min-height: 50px;
  align-items: center;
}

.fbutton {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fbutton a {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.fbutton a img {
  height: 16px;
  position: relative;
  left: 4px;
}

.mlogo {
  width: 40%;
  display: flex;
  justify-content: end;
}

.fmobile {
  display: none;
  line-height: 52px;
}

.fmobile div,
.fmobile a {
  width: 50vw;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: auto 0 auto 0;
}

.fmobile div:first-child {
  border-right: solid 1px;
}

.fmenu p {
  margin: 0;
}

.contentfmenu {
  position: fixed;
  bottom: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

.fmenu:hover .contentfmenu {
  display: flex;
}

.contentfmenu a {
  font-size: 20px;
}

.contentfmenu a:last-of-type {
  margin-bottom: 20px;
}

.categoriasmobile {
  position: fixed;
  bottom: 50px;
  right: 0px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

@media screen and (max-width: 720px) {
  .fbutton, .mlogo {
    display: none;
  }

  .fmobile {
    display: flex;
  }
}