.produto {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    margin-bottom: 10px;
}

.fotosproduto {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    max-width: 600px;
    height: 35em;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 10px;
}

.miniimg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 2px;
}

.miniimg button {
    border: unset;
    padding: 0;
    background: none;
}

.miniimg img {
    max-height: 160px;
    max-width: 150px;
    object-fit: cover;
}

.miniimg button:first-child img {
    border-top-left-radius: 10px;
}

.miniimg button:last-child img {
    border-bottom-left-radius: 10px;
}

.focoimg {
    height: 100%;
    max-width: 70%;
    display: flex;
    justify-content: flex-end;
}

.focoimg img {
    max-height: 560px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}

.descgeral {
    width: 50vw;
    height: 100%;
    margin: 0 0 20px 0;
}

.descgeral h2 {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    margin: 0;
}

.descgeral p {
    margin: 0 10px
}

.oferta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.oferta p.off {
    font-size: xx-large;
}

.subcontainer {
    display: flex;
}

.desc {
    width: 50%;
}

.desc p:first-of-type {
    text-align: justify;
}

.desc strong {
    display: block;
    margin: 20px 0 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.desc b {
    font-weight: bold;
}

.comprar,
.comprar form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: -webkit-fill-available;
}

.comprar form,
.comprar form input {
    width: 100%;
    margin-bottom: 10px;
}

.calcula-frete {
    align-self: flex-end;
    width: 40%;
    border-radius: 20px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-style: none;
}

.comprar p {
    align-self: flex-end;
}

.total {
    font-size: xx-large;
}

.compra {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 720px) {
    .produto, .subcontainer, .comprar, .fotosproduto {
        display: block;
    }

    .miniimg {
        flex-direction: row;
        height: fit-content;
    }

    .miniimg button {
        height: fit-content;
    }

    .miniimg img {
        max-height: 100px;
        max-width: 80px;
    }

    .miniimg button:last-child img {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .focoimg {
        max-width: 100%;
        justify-content: center;
        height: 80%;
    }

    .focoimg img {
        border-radius: 0 0 10px 10px;
    }

    .fotosproduto, .descgeral, .subcontainer, .desc, .comprar {
        width: 100%;
    }

    .descgeral, .comprar {
        margin-top: 20px;
    }
}