body {
  margin: 0;
  background-color: #DCDDE1;
}

a {
  color: unset;
  cursor: pointer;
}

header, .header-menu {
  background-color: #FFFFFF;
  width: 100%;
  padding: 0 3%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
  min-height: 15vh;
}

header section {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

header .header-principal .logo {
  width: 20%;
}

header .header-principal .logo img {
  max-width: 100%;
  height: auto;
}

header .header-principal .busca {
  width: 50%;
  display: flex;
  align-items: center;
}

header .header-principal .busca p {
  width: 20%;
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
  line-height: 14px;
}

header .header-principal .busca input {
  width: 70%;
  height: 10%;
  font-size: 18px;
  line-height: 23px;
}

header .header-principal .busca a {
  background: none;
  border: none;
  position: relative;
  left: -35px;
}

header .header-principal .hbutton {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

header .header-principal .hbutton img {
  height: 50%;
}

header .header-principal .hbutton div {
  width: 25%;
  margin: auto;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  padding: 10px 3%;
  height: 5vh;
  align-items: center;
}

header a, footer a, .header-menu a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}

header section.buscamobile {
  justify-content: space-around;
  padding: 0;
  width: 100%;
  display: none;
}

header section.buscamobile p {
  margin: 0;
}

header section.buscamobile input {
  width: 80vw;
  margin-left: 10px;
  height: 30px;
}

header section.buscamobile a {
  position: relative;
  left: -29px;
}

footer {
  background-color: #FFFFFF;
  width: 100vw;
  padding: 0 3%;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 5vh;
  min-height: 50px;
  align-items: center;
}

footer .fbutton {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .fbutton a {
  display: flex;
  align-items: center;
}

footer .fbutton a img {
  height: 16px;
  position: relative;
  left: 4px;
}

footer .mlogo {
  width: 40%;
  display: flex;
  justify-content: end;
}

footer section.fmobile {
  display: none;
}

footer section.fmobile div,
footer section.fmobile a {
  width: 50vw;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: auto 0 auto 0;
}

footer section.fmobile div:first-child {
  border-right: solid 1px;
}

footer section.fmobile div.fmenu p {
  margin: 0;
}

footer section.fmobile div.fmenu div.contentfmenu {
  position: fixed;
  width: 50vw;
  height: 50vh;
  bottom: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

footer section.fmobile div.fmenu:hover div.contentfmenu {
  display: flex;
}

footer section.fmobile div.fmenu div.contentfmenu a {
  font-size: 20px;
}

body section.banner {
  margin: 20px 3% 0 3%;
  width: 94%;
  border-radius: 10px;
  background-color: #E84118;
  display: flex;
  justify-content: center;
}

body section.banner img {
  width: 100%;
}

body section.ofertas {
  margin: 20px 3% 60px 3%;
  width: 94%;
}

div.ofertasrow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div.container {
  margin: 1% 1% 10px 1%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 280px;
  height: 360px;
  text-align: center;
}

main div.container img {
  margin-top: 10px;
  max-width: 270px;
  max-height: 200px;
}

h1 {
  margin: 10px;
}

main div.container div.precos ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type:none;
}

.preco-antes {
  font-weight: 300;
  font-size: 16px;
  text-decoration-line: line-through;
  width: 30%;
}

.preco-agora {
  font-weight: bolder;
  font-size: 25px;
  width: 50%;
}

.off {
  font-weight: bolder;
  font-size: 18px;
  width: 30%;
  color: #4CD137;
}

section.containergeral {
  margin: 1% 3% 60px 3%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

section.containergeral h1 {
  text-align: center;
  margin-top: 20px;
  line-height: 46px;
}

main section.containergeral div.container h1 {
  line-height: 22px;
  margin: 10px;
}

section.containergeral strong, 
section.containergeral p {
  margin: 0 3% 10px 3%;
  font-size: 18px;
  line-height: 23px;
  text-align: justify;
}

main section.containergeral div.missao {
  display: flex;
  margin: 0 3% 10px 3%;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
}

main section.containergeral div.missao h2 {
  width: 20%;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

main section.containergeral div.missao p,
main section.containergeral div.missao ul {
  width: 100%;
}

main section.containergeral h1 img {
  position: relative;
  top: 5px;
}

main section.containergeral h2 img {
  position: relative;
  top: 3px;
  height: 20px;
}

main section.containergeral div.buttonscontato {
  margin: 0 3% 10px 3%;
}

main section.containergeral div.buttonscontato div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main section.containergeral div.buttonscontato button {
  background-color: inherit;
  border: 2px solid #F3F3F3;
  width: 20%;
  height: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}

main section.containergeral div.buttonscontato button p {
  font-size: 16px;
  width: 50%;
  margin: 0 0 0 auto;
  text-align: left;
}

main section.containergeral p.pcontato {
  text-align: center;
}

main section.containergeral form.contato {
  margin: 0 3% 10px 3%;
  display: flex;
  align-items: center;
}

main section.containergeral form.contato div {
  background: #c1c1c1;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7em;
}

main section.containergeral form.contato div input {
  margin: 10px;
  color: #c1c1c1;
  border: none;
}

main section.containergeral form.contato textarea {
  background-color: #FFFFFF;
  margin: 10px;
  height: inherit;
  color: #c1c1c1;
  border: none;
}

main section.containergeral form.contato button {
  margin: auto;
  background: #c1c1c1;
  border: none;
  width: 15%;
  cursor: pointer;
  height: 40px;
  font-size: 18px;
}

main.resultadobusca {
  display: flex;
}

div.containerterciario {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

aside {
  background-color: #FFFFFF;
  width: 20%;
}

aside div {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

aside h2 {
  text-align: center;
  font-size: inherit;
  margin: 0;
  padding: 10px;
}

aside form div {
  display: flex;
  flex-direction: column;
}

aside form div ul {
  list-style-type: none;
}

main.resultadobusca section.containergeral h1 {
  font-size: 1.5em;
  margin: 0 3%;
  text-align: unset;
}

main.resultadobusca section.containergeral {
  width: -webkit-fill-available;
}

main.resultadobusca section.containergeral div.ofertasrow {
  justify-content: space-evenly;
}

main.resultadobusca nav.navpages {
  margin: 10px 3%;
  display: flex;
  justify-content: space-evenly;
}

main.resultadobusca nav.navpages button {
  border: none;
  background: none;
  font-weight: 600;
  cursor: pointer;
}

main.resultadobusca nav.navpages button:disabled {
  color: gray;
  opacity: unset;
  cursor: default;
}

main.paginaproduto div.produto {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  margin-bottom: 10px;
}

main.paginaproduto div.fotosproduto {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  max-width: 600px;
  height: 35em;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

main.paginaproduto div.fotosproduto div.miniimg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-right: 2px;
}

main.paginaproduto div.fotosproduto div.miniimg button {
  border: unset;
  cursor: pointer;
  padding: 0;
}

main.paginaproduto div.fotosproduto div.miniimg img {
  height: 180px;
  width: 150px;
  object-fit: cover;
}

main.paginaproduto div.fotosproduto div.miniimg button:first-child img{
  border-top-left-radius: 10px;
}

main.paginaproduto div.fotosproduto div.miniimg button:last-child img {
  border-bottom-left-radius: 10px;
}

main.paginaproduto div.fotosproduto div.focoimg {
  height: 100%;
  max-width: 70%;
  display: flex;
  justify-content: flex-end;
}

main.paginaproduto div.fotosproduto div.focoimg img {
  max-height: 560px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

main.paginaproduto div.descgeral {
  width: 50vw;
  height: 100%;
  margin: 0 0 20px 0;
}

main.paginaproduto div.descgeral h2 {
  text-align: center;
  width: 100%;
  font-size: xx-large;
  margin: 0;
}

main.paginaproduto div.descgeral div.oferta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

main.paginaproduto div.descgeral div.oferta p.off {
  font-size: xx-large;
}

main.paginaproduto div.descgeral div.subcontainer {
  display: flex;
}

main.paginaproduto div.descgeral div.subcontainer div.desc {
  width: 50%;
}

main.paginaproduto div.descgeral div.subcontainer div.comprar,
main.paginaproduto div.descgeral div.subcontainer div.comprar form  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: -webkit-fill-available;
}

main.paginaproduto div.descgeral div.subcontainer div.comprar form,
main.paginaproduto div.descgeral div.subcontainer div.comprar form input {
  width: 100%;
  margin-bottom: 10px;
}

main.paginaproduto div.descgeral div.subcontainer div.comprar form button {
  align-self: flex-end;
  width: 40%;
  border-radius: 20px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-style: none;
}

main.paginaproduto div.descgeral div.subcontainer div.comprar p {
  align-self: flex-end;
}

main.paginaproduto div.descgeral div.subcontainer div.comprar p.total {
  font-size: xx-large;
}

main.paginaproduto div.descgeral div.subcontainer div.compra {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

main.paginaproduto div.descgeral div.subcontainer div.compra form button {
  border-radius: 20px;
  border-style: none;
  background-color: #E84118;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 18px;
  width: 230px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
}

main.login section.containergeral p,
main.cadastrousuario section.containergeral p,
main.trabalheconosco section.containergeral div.form p,
main.cadastroloja section.containergeral p {
  text-align: center;
}

main.login section.containergeral form,
main.cadastrousuario section.containergeral form,
main.trabalheconosco section.containergeral form,
main.cadastroloja section.containergeral form, form.cadastrousuario,
main.paginaloja form.alteradadosloja {
  width: 100%;
  text-align: center;
}

main.login section.containergeral form div.formrow,
main.cadastrousuario section.containergeral form div.formrow,
main.trabalheconosco section.containergeral form div.formrow,
main.cadastroloja section.containergeral form div.formrow,
form.cadastrousuario div.formrow, form.alteradadosloja div.formrow {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  align-items: center;
}

main.login section.containergeral form div.formrow label,
main.cadastrousuario section.containergeral form div.formrow label,
main.trabalheconosco section.containergeral form div.formrow label,
main.cadastroloja section.containergeral form div.formrow label,
form.cadastrousuario label, form.alteradadosloja label {
  margin-right: 10px;
  width: 150px;
  text-align: end;
}

main.login section.containergeral form div.formrow input,
main.cadastrousuario section.containergeral form div.formrow input,
main.trabalheconosco section.containergeral form div.formrow input,
main.trabalheconosco section.containergeral form div.formrow select,
main.trabalheconosco section.containergeral form div.formrow textarea,
main.cadastroloja section.containergeral form div.formrow input,
form.cadastrousuario input, form.alteradadosloja input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  max-width: 50%;
  font-size: 20px;
  border: 1px solid #C8D6E5;
}

main.login section.containergeral form button,
main.cadastrousuario section.containergeral form button,
main.trabalheconosco section.containergeral form button,
main.cadastroloja section.containergeral form button,
form.cadastrousuario button, form.alteradadosloja button,
form.fotoPerfil button[type='submit'] {
  font-size: 36px;
  width: 300px;
  border-style: none;
  border-radius: 20px;
  border-width: 1px;
  color: #fff;
  background-color: #E84118;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 20px;
}

button:disabled {
  opacity: 0.3;
}

main.login section.containergeral p:nth-last-child(2),
main.login section.containergeral p:last-child {
  width: 50%;
  position: relative;
  left: 31%;
  margin: 20px 0;
}

main.login section.containergeral p:nth-last-child(2) a,
main.login section.containergeral p:last-child a {
  color: #40739E;
  font-weight: bold;
  text-decoration: underline;
}

main.trabalheconosco div.containersecundario{
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

main.paginaloja div.containersecundario, main.paginacliente div.containersecundario {
  display: flex;
  margin: 20px 0;
}

main.trabalheconosco div.containersecundario div.form,
main.trabalheconosco div.containersecundario div.imagem {
  width: 45%;
}

main.trabalheconosco div.containersecundario div.imagem img {
  width: -webkit-fill-available;
}

main.trabalheconosco h2 {
  font-weight: normal;
  text-align: justify;
}

main.trabalheconosco form ul {
  display: flex;
  list-style: none;
  width: 350px;
  max-width: 50%;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

main.trabalheconosco form ul input {
  width: auto !important;
  box-shadow: none !important;
}

main.trabalheconosco input[type="file"] {
  display: none;
}

main.trabalheconosco div.upload {
  width: 350px;
  max-width: 50%;
  text-align: left;
}

main.trabalheconosco div.upload button {
  width: 160px !important;
  background-color: #D3D3D3 !important;
  border-radius: 0 !important;
  font-size: 18px !important;
  line-height: 23px;
}

main.paginacliente section.containergeral h1.bemvindo,
main.paginaloja section.containergeral h1.bemvindo {
  text-align: left;
  margin: 20px;
}

main.paginacliente section.containergeral div.menu-cliente,
main.paginaloja section.containergeral div.menu-loja {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
}

main.paginacliente section.containergeral div.pedidosrecentes,
main.paginacliente section.containergeral div.buscasrecentes,
main.paginaloja section.containergeral div.faturadorecentemente,
main.paginaloja section.containergeral div.resumopedidos {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.paginacliente section.containergeral div.menu-cliente a,
main.paginaloja section.containergeral div.menu-loja a {
  margin: 20px;
  font-size: 18px;
  line-height: 23px;
  max-width: 100%;
  font-weight: bold;
}

main.paginaloja div.containerinfo {
  margin: 1% 3%;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  width: 100%;
}

main.paginaloja div.containerinfo div.hoje,
main.paginaloja div.containerinfo div.estasemana {
  display: flex;
  align-items: center;
  width: 100%;
}

main.paginaloja div.containerinfo div.hoje p,
main.paginaloja div.containerinfo div.estasemana p {
  width: 100px;
  text-align: end;
}

main.paginaloja div.containerinfo div.infocard {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: end;
  margin: 10px;
  border-radius: 10px;
  border: #D3D3D3 1px solid;
}

main.paginaloja div.containerinfo div.infocard div.info {
  margin: 10px;
}

main.paginaloja div.containerinfo div.infocard div.info p {
  width: 100%;
  text-align: end;
  margin: 0;
}

main.paginaloja img {
  height: 18px;
  position: relative;
  top: 2px;
}

main.paginaloja div.resumopedidos div.containerinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main.paginaloja div.resumopedidos div.containerinfo p {
  margin: 10px;
  text-align: end;
}


.carrinho {
  margin: 0 25px;
}

.carrinho .processo-da-compra div {
  height: 45px;
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 280px;
  background-color: #C4C4C4;
}

.carrinho .processo-da-compra div a {
  width: 100%;
  text-align: center;
  font-weight: 800;
}
.carrinho .container-carrinho {
  display: flex;
  justify-content: space-between;
  margin: 0
}

.carrinho .container-carrinho .container-sacola {
  /* background-color: white; */
  height: 260px;
  width: 68%;
}

.carrinho .container-carrinho .resumo {
  background-color: white;
  width: 30%;
  padding: 3%;
}

.carrinho .container-carrinho .container-sacola table{
  width: 100%;
  background-color: white;
  padding: 25px;
}

.carrinho .container-carrinho .container-sacola table .colunas tr, td {
  border-bottom: 1.5px solid #d3cece;
}

.carrinho .container-carrinho .container-sacola table .linhas tr, td {
  border-bottom: 1.5px solid #d3cece;
}

.carrinho .container-carrinho .container-sacola .produto {
  display: flex;
  align-items: center;
}

.carrinho .container-carrinho .container-sacola img {
  height: 80px;
  margin: 20px;
}

.carrinho .container-carrinho .container-sacola .tamanho,
.carrinho .container-carrinho .container-sacola .cor {
  display: flex;
}

.carrinho .container-carrinho .container-sacola .label {
  margin: 0
}

.carrinho .container-carrinho .container-sacola .dados {
  color: #837F7F;
  margin: 0 10px;
}

.carrinho .container-carrinho .container-sacola .quantidade {
  display: flex;
  align-items: center;
}

.carrinho .container-carrinho .container-sacola .quantidade button {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 60%;
  margin: 0 10px;
  height: 25px;
  width: 25px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 800;
  border-radius: 100%;
  border-style: none;
  transition: opacity 0.1s;
} .carrinho .container-carrinho .container-sacola .quantidade button:hover {
  opacity: 1;
  cursor: pointer;
}

.carrinho .container-carrinho .container-sacola .acoes-produto {
  width: 70px;
}

.carrinho .container-carrinho .container-sacola .acoes-produto img {
  margin: 0 5px;
  opacity: 60%;
  width: 20px;
  height: 20px;
  transition: opacity 0.1s;
} .carrinho .container-carrinho .container-sacola .acoes-produto img:hover {
  opacity: 1;
}

.carrinho .container-carrinho .resumo {
  background-color: white;
  width: 30%;
  padding: 3%;
  background-color: #F1F1F1
}

.carrinho .container-carrinho .resumo div p.resumo {
  padding: 0;
  margin: 0;
  font-weight: 800;
}

.carrinho .resumo .forma-de-recebimento {
  display: flex;
  justify-content: center;
}

#pedidos, #desejos, #dados, #enderecos, #vale, #listaprodutos  {
  display: none;
}

img.fotoPerfil {
  height: 50px !important;
  border-radius: 50%;
}

main.paginaloja table {
  width: -webkit-fill-available;
  text-align: center;
}

main.paginaloja table .col-nomeProduto {
  width: 44%;
}

main.paginaloja table tr {
  transition: background-color .15s ;
}
main.paginaloja table tr:hover {
  background-color: rgb(231, 231, 231);
}

main.paginaloja #listaprodutos .modal button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
main.paginaloja #listaprodutos .modal button:hover {
  opacity:1;
}
main.paginaloja #listaprodutos .modal .cancelbtn,
main.paginaloja #listaprodutos .modal .deletebtn {
  width: 50%;
  font-weight: bold;
}

main.paginaloja #listaprodutos .modal .cancelbtn {
  height: 10%;
  font-size: 16px;
  background-color: #ccc;
  color: black;
}
main.paginaloja #listaprodutos .modal .deletebtn {
  font-size: 26px;
  background-color: #f44336;
}

main.paginaloja #listaprodutos .modal .modal-container {
  position: relative;
  padding: 16px;
  text-align: center;
}

main.paginaloja #listaprodutos .modal .modal-container p {
  font-size: 16px;
  text-align: center;
}

main.paginaloja #listaprodutos .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000065;
  /* padding-top: 50px; */
}

main.paginaloja #listaprodutos .modal-content {
  background-color: #fefefe;
  /* margin: 15% auto 15% auto; */
  margin: 3% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
  opacity: 1;
  transition: margin .8s;
}
main.paginaloja #listaprodutos a.deletarProduto:hover + div.modal > form.modal-content {
  margin: 0% auto 15%;
  opacity: 0;
}

main.paginaloja #listaprodutos h1.atencao {
  font-size: 24px;
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

main.paginaloja #listaprodutos .close {
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 40px;
  font-weight: bold;
  /* color: #f1f1f1; */
  color: black;
}

main.paginaloja #listaprodutos .close:hover,
main.paginaloja #listaprodutos .close:focus {
  color: #f44336;
  cursor: pointer;
}
main.paginaloja #listaprodutos .clearfix {
  display: flex;
  justify-content: space-between;
}
main.paginaloja #listaprodutos .clearfix::after {
  content: "";
  clear: both;
  display: table;
}


div.colaboradores {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.filtros button {
  border-radius: 20px;
  border-style: none;
  background-color: #E84118;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  color: #fff;
  font-size: 18px;
  width: 70%;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 15% 25px 15%;
}

.filtros input[type=text] {
  width: 90%;
  margin-left: 5%;
}

div.categoriasmobile {
  position: fixed;
  width: 50vw;
  height: 50vh;
  bottom: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  left: 50vw;
}

form.fotoPerfil {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form.fotoPerfil button {
  align-self: center;
}

form.fotoPerfil button[type='button'] {
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

form.fotoPerfil img {
  width: 200px;
  height: 200px !important;
}

form.fotoPerfil div {
  text-align: center;
  margin-bottom: 10px;
}

div#enderecos li {
  display: flex;
  margin-bottom: 10px;
  border-bottom: solid gray 1px;
  width: fit-content;
}

div#enderecos li form {
  margin-left: 10px;
}

div#enderecos li form button {
  padding: 0;
  cursor: pointer;
}

div#enderecos li form button img {
  width: 15px;
  height: 15px;
}

main.paginacliente section.containergeral div.pedidosrecentes, 
main.paginacliente section.containergeral div.pedidosrecentes table {
  width: 100%;
  text-align: center;
}

/* Fazendo as alterações para mobile: */
@media screen and (max-width: 720px) {
  header .logo, header .header-principal .hbutton {
    width: 50vw !important;
  }

  header section.buscamobile, footer section.fmobile {
    display: flex;
  }
  
  main.paginacliente div.containerterciario, main.trabalheconosco div.containersecundario, main section.containergeral div.buttonscontato div, div.ofertasrow, main section.containergeral form.contato, main.paginaproduto div.produto, main.resultadobusca, main.trabalheconosco div.containersecundario, main.paginacliente div.containersecundario, main.paginaloja div.containersecundario {
    display: block;
  }

  section.fbutton, section.mlogo, div.hbutton p, section.header-menu, header .header-principal .busca, aside div, aside form {
    display: none;
  }

  main.paginaproduto div.fotosproduto div.miniimg img {
    height: 90px;
    width: 75px;
  }

  footer {
    padding: 0;
  }

  main section.containergeral div.buttonscontato button {
    width: 200px;
  }

  main.trabalheconosco div.containersecundario div.imagem, main.trabalheconosco div.containersecundario div.form, main section.containergeral form.contato div, main section.containergeral form.contato input[type="submit"], main.paginaproduto div.descgeral, main.paginaproduto div.descgeral div.subcontainer div.desc, main.paginaproduto div.descgeral div.subcontainer div.comprar, main.paginaproduto div.descgeral div.subcontainer div.comprar form, aside, main.paginacliente section.containergeral div.menu-cliente, main.paginaloja section.containergeral div.menu-loja, main.paginacliente section.containergeral div.pedidosrecentes, main.paginacliente section.containergeral div.buscasrecentes, main.paginaloja section.containergeral div.faturadorecentemente, main.paginaloja section.containergeral div.resumopedidos, main.paginacliente section.containergeral div.pedidosrecentes, main.paginacliente section.containergeral div.buscasrecentes, main.paginaloja section.containergeral div.faturadorecentemente, main.paginaloja section.containergeral div.resumopedidos, main.trabalheconosco div.containersecundario div.form, main.trabalheconosco div.containersecundario div.imagem {
    width: 100%;
    margin: 0;
  }

  main.paginaproduto div.fotosproduto {
    width: 100%;
    height: fit-content;
    justify-content: center;
  }

  main.paginaproduto div.descgeral div.subcontainer {
    display: block;
    width: 100%;
  }

  aside:hover form {
    display: block;
  }

  body main a {
    max-width: 100%;
  }

  div.missao:last-child {
    display: block !important;
  }

  div.buscainput {
    display: none;
  }
}