@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #545454;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
}

div.jogo {
    margin: auto;
    display: flex;
    padding: 5px;
}

p {
    margin: unset;
}

p.legendabotao {
    font-size: 14px;
}

aside {
    width: 50px;
    height: 310px;
}

aside, div.botaojogar, div.botaopausar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.botaopausar {
    display: none;
}

main.canvas {
    width: 370px;
    height: 310px;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

div.pontos {
    display: flex;
    width: 370px;
    justify-content: space-around;
    padding: 5px;
    position: fixed;
}

div.linha {
    height: 310px;
    width: 0;
    border-right: 2px dashed white;
    align-self: center;
    position: fixed;
}

div.bolinha {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 177.5px;
    top: 140px;
    z-index: 10;
}

button {
    padding: 0;
    border: 0;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

div.raqueteJogador {
    height: 70px;
    width: 10px;
    position: relative;
    background-color: white;
    top: 97.5px;
    left: 14px;
}

div.raqueteIA {
    height: 70px;
    width: 10px;
    position: relative;
    background-color: white;
    top: 27.5px;
    left: 350px;
}

div.virarcelular {
    display: none;
}

div.virarcelular img {
    border-radius: 50%;
    height: 50px;
    margin: 20px;
    transform: rotate(45deg);
}

div.resultado {
    position: relative;
    top: -15%;
    display: none;
}

div.resultado button {
    width: 100px;
    height: 50px;
    color: black;
    font-size: 15px;
    margin-top: 130px;
}

@keyframes rodacelular {
    0% {
        transform: rotate(45deg);
    }

    /* 25% {
        transform: rotate(-90deg);
    } */

    50% {
        transform: rotate(-45deg);
    }

    /* 75% {
        transform: rotate(-90deg);
    } */

    100% {
        transform: rotate(45deg);
    }
}

@media screen and (max-width: 450px) {
    div.jogo {
        display: none;
    }

    div.virarcelular {
        display: block;
        margin: auto;
        padding: 0 35px;
        text-align: center;
        font-size: 25px;
    }

    div.virarcelular img {
        animation: rodacelular 2s infinite;
    }

}

input[type="range"] {
    transform: rotate(90deg);
    width: 300px;
    height: 30px;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    border: 2px solid black;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #545454;
    border: 2px solid black;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 #555;
  }